{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Nimflow",
    "description": "The Nimflow Web API enables the execution of actions on cases and tasks, and facilitates subscription to events via standard webhooks.",
    "version": "7.0.0",
    "contact": {
      "name": "Nimflow",
      "url": "https://nimflow.com",
      "email": "support@nimflow.com"
    }
  },
  "host": "api.nimflow.com",
  "schemes": ["https"],
  "paths": {
    "/environment/cases": {
      "get": {
        "tags": ["Cases"],
        "description": "Search cases by their common fields.",
        "operationId": "SearchCases",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "CaseTypeName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Status",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/CaseStatus"
            },
            "x-nullable": true,
            "enum": ["Open", "Finalized", "Cancelled", "Terminated"]
          },
          {
            "type": "string",
            "name": "Reference",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "ExcludeCaseTypeVersion",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "Skip",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "Take",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaseInfo"
              }
            }
          },
          "404": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/cases/{caseTypeName}/{reference}/{action}": {
      "post": {
        "tags": ["Cases"],
        "description": "Execute an action on an existing case or create a new one with the reference provided.",
        "operationId": "ExecuteCaseAction",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "caseTypeName",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "reference",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "action",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "name": "payload",
            "in": "body",
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CaseInfo"
            }
          },
          "404": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/cases/when-case-event/{hookId}": {
      "get": {
        "tags": ["Cases"],
        "description": "Get a case event webhook by id.",
        "operationId": "GetCaseWebhook",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "hookId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CaseWebhookEntity"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      },
      "delete": {
        "tags": ["Cases"],
        "description": "Delete a case event webhook.",
        "operationId": "DeleteCaseWebhook",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "environmentId",
            "in": "query",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "hookId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/environment/cases/when-case-event": {
      "x-ms-notification-content": {
        "description": "Subscribe to CaseEventWebhookPayload event.",
        "schema": {
          "$ref": "#/definitions/CaseEventWebhookPayload"
        }
      },
      "post": {
        "tags": ["Cases"],
        "description": "Subscribe to a case event creating a webhook.",
        "operationId": "WhenCase",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCaseWebhookRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ],
        "x-ms-trigger": "single"
      }
    },
    "/environment/case-tasks": {
      "get": {
        "tags": ["Case Tasks"],
        "description": "Search for tasks using their common fields.",
        "operationId": "SearchCaseTasks",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "CaseTypeName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "CaseReference",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "TaskType",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "CaseStatus",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/CaseStatus"
            },
            "x-nullable": true,
            "enum": ["Open", "Finalized", "Cancelled", "Terminated"]
          },
          {
            "type": "string",
            "name": "TaskStatus",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/CaseTaskStatus"
            },
            "x-nullable": true,
            "enum": ["Active", "Completed", "Cancelled"]
          },
          {
            "type": "integer",
            "name": "Skip",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "Take",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaseTaskInfo"
              }
            }
          },
          "404": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/case-tasks/{caseId}/{taskType}": {
      "get": {
        "tags": ["Case Tasks"],
        "description": "Retrieve an active task by case ID and task type.",
        "operationId": "GetCaseTaskRouteName",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "caseId",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "taskType",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CaseTaskInfo"
            }
          },
          "404": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/case-tasks/{caseId}/{taskType}/{action}": {
      "post": {
        "tags": ["Case Tasks"],
        "description": "Execute an action on an active case task.",
        "operationId": "ExecuteTaskAction",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "caseId",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "taskType",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "action",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "name": "payload",
            "in": "body",
            "schema": {},
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/case-tasks/{caseId}/{taskType}/activity-events/{eventName}": {
      "post": {
        "tags": ["Case Tasks"],
        "description": "Register a task activity event.",
        "operationId": "RegisterCaseTaskActivityEvent",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "caseId",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "taskType",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "eventName",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterCaseTaskActivityEventRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/case-tasks/claim": {
      "post": {
        "tags": ["Case Tasks"],
        "description": "Claims a specified number of active tasks based on case type, task type, and optional filters. The last claim time is used as a filter to retrieve tasks that have been unclaimed for a defined duration, allowing the requesting agent to work on them.",
        "operationId": "ClaimActiveCaseTasks",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClaimActiveTasksRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaseTaskInfo"
              }
            }
          },
          "404": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/case-tasks/release": {
      "post": {
        "tags": ["Case Tasks"],
        "description": "Release a previously claimed case task.",
        "operationId": "ReleaseCaseTask",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseCaseTaskRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      }
    },
    "/environment/case-tasks/when-case-task-event": {
      "x-ms-notification-content": {
        "description": "Subscribe to CaseTaskEventWebhookPayload event.",
        "schema": {
          "$ref": "#/definitions/CaseTaskEventWebhookPayload"
        }
      },
      "post": {
        "tags": ["Case Tasks"],
        "description": "Subscribe to a case task event creating a webhook.",
        "operationId": "WhenCaseTask",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCaseTaskWebhookRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ],
        "x-ms-trigger": "single"
      }
    },
    "/environment/case-tasks/when-case-task-event/{hookId}": {
      "get": {
        "tags": ["Case Tasks"],
        "description": "Get a case task event webhook by id.",
        "operationId": "GetCaseTaskWebhook",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "environmentId",
            "in": "query",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "hookId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CaseTaskWebhookEntity"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "security": [
          {
            "apiKey-auth": []
          }
        ]
      },
      "delete": {
        "tags": ["Case Tasks"],
        "description": "Delete a case task event webhook.",
        "operationId": "DeleteCaseTaskWebhookRoute",
        "produces": ["application/json"],
        "parameters": [
          {
            "type": "string",
            "name": "environmentId",
            "in": "query",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "hookId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    }
  },
  "definitions": {
    "CaseInfo": {
      "type": "object",
      "required": ["id", "reference", "caseTypeName", "caseTypeVersion"],
      "properties": {
        "id": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "caseTypeName": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/CaseStatus"
        },
        "recalculateOn": {
          "type": "string",
          "format": "date-time"
        },
        "caseTypeVersion": {
          "type": "integer",
          "format": "int32"
        },
        "tasks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseTaskInfo"
          }
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseEventInfo"
          }
        },
        "actionRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseActionRequestInfo"
          }
        }
      }
    },
    "CaseStatus": {
      "type": "string",
      "description": "",
      "x-enumNames": ["Open", "Finalized", "Cancelled", "Terminated"],
      "enum": ["Open", "Finalized", "Cancelled", "Terminated"]
    },
    "CaseTaskInfo": {
      "type": "object",
      "required": ["taskType", "caseId", "status"],
      "properties": {
        "description": {
          "type": "string"
        },
        "taskType": {
          "type": "string"
        },
        "data": {},
        "caseId": {
          "type": "string"
        },
        "dueDate": {
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "$ref": "#/definitions/CaseTaskStatus"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseTaskEventInfo"
          }
        },
        "activityEvents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseTaskActivityEventInfo"
          }
        }
      }
    },
    "CaseTaskStatus": {
      "type": "string",
      "description": "",
      "x-enumNames": ["Active", "Completed", "Cancelled"],
      "enum": ["Active", "Completed", "Cancelled"]
    },
    "CaseTaskEventInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseTaskEventInfoBase"
        },
        {
          "type": "object",
          "required": ["event"],
          "properties": {
            "event": {
              "$ref": "#/definitions/CaseTaskEvent"
            }
          }
        }
      ]
    },
    "CaseTaskEvent": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Created",
        "Completed",
        "Reactivated",
        "Cancelled",
        "Modified"
      ],
      "enum": ["Created", "Completed", "Reactivated", "Cancelled", "Modified"]
    },
    "CaseTaskEventInfoBase": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseEventInfoBase"
        },
        {
          "type": "object",
          "x-abstract": true,
          "required": ["taskType"],
          "properties": {
            "taskType": {
              "type": "string"
            }
          }
        }
      ]
    },
    "CaseEventInfoBase": {
      "type": "object",
      "x-abstract": true,
      "required": ["timestamp"],
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CaseTaskActivityEventInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseTaskEventInfoBase"
        },
        {
          "type": "object",
          "required": ["event"],
          "properties": {
            "event": {
              "type": "string"
            },
            "agentId": {
              "type": "string"
            },
            "processId": {
              "type": "string"
            },
            "sessionId": {
              "type": "string"
            }
          }
        }
      ]
    },
    "CaseEventInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseEventInfoBase"
        },
        {
          "type": "object",
          "required": ["event"],
          "properties": {
            "event": {
              "$ref": "#/definitions/CaseEvent"
            }
          }
        }
      ]
    },
    "CaseEvent": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Opened",
        "Finalized",
        "Reopened",
        "Cancelled",
        "Terminated"
      ],
      "enum": ["Opened", "Finalized", "Reopened", "Cancelled", "Terminated"]
    },
    "CaseActionRequestInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseEventInfoBase"
        },
        {
          "type": "object",
          "required": ["action"],
          "properties": {
            "action": {
              "type": "string"
            },
            "taskType": {
              "type": "string"
            },
            "payload": {}
          }
        }
      ]
    },
    "CaseWebhookEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseWebhookEntityBase"
        },
        {
          "type": "object",
          "required": ["events"],
          "properties": {
            "events": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaseEvent"
              }
            }
          }
        }
      ]
    },
    "CaseWebhookEntityBase": {
      "type": "object",
      "x-abstract": true,
      "required": ["id", "url"],
      "properties": {
        "id": {
          "type": "string",
          "maxLength": 26,
          "minLength": 26
        },
        "caseTypeName": {
          "type": "string"
        },
        "url": {
          "type": "string",
          "minLength": 1
        }
      }
    },
    "CreateCaseWebhookRequest": {
      "type": "object",
      "required": ["callbackUrl"],
      "properties": {
        "callbackUrl": {
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "caseTypeName": {
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseEvent"
          }
        }
      }
    },
    "CaseEventWebhookPayload": {
      "type": "object",
      "required": ["case", "event"],
      "properties": {
        "case": {
          "$ref": "#/definitions/CaseInfo"
        },
        "event": {
          "$ref": "#/definitions/CaseEventInfo"
        }
      }
    },
    "RegisterCaseTaskActivityEventRequest": {
      "type": "object",
      "properties": {
        "agentId": {
          "type": "string"
        },
        "processId": {
          "type": "string"
        },
        "sessionId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        },
        "durationInSeconds": {
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "ClaimActiveTasksRequest": {
      "type": "object",
      "required": ["taskType", "unclaimedWithinSeconds", "take"],
      "properties": {
        "caseTypeName": {
          "type": "string"
        },
        "taskType": {
          "type": "string"
        },
        "caseId": {
          "type": "string"
        },
        "agentId": {
          "type": "string"
        },
        "processId": {
          "type": "string"
        },
        "sessionId": {
          "type": "string"
        },
        "unclaimedWithinSeconds": {
          "type": "integer",
          "format": "int32"
        },
        "take": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReleaseCaseTaskRequest": {
      "type": "object",
      "required": ["caseId", "taskType"],
      "properties": {
        "caseId": {
          "type": "string"
        },
        "taskType": {
          "type": "string"
        },
        "agentId": {
          "type": "string"
        },
        "processId": {
          "type": "string"
        },
        "sessionId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "CreateCaseTaskWebhookRequest": {
      "type": "object",
      "required": ["callbackUrl"],
      "properties": {
        "callbackUrl": {
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "caseTypeName": {
          "type": "string"
        },
        "taskType": {
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CaseTaskEvent"
          }
        }
      }
    },
    "CaseTaskEventWebhookPayload": {
      "type": "object",
      "required": ["task", "event"],
      "properties": {
        "task": {
          "$ref": "#/definitions/CaseTaskInfo"
        },
        "event": {
          "$ref": "#/definitions/CaseTaskEventInfo"
        }
      }
    },
    "CaseTaskWebhookEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/CaseWebhookEntityBase"
        },
        {
          "type": "object",
          "required": ["events"],
          "properties": {
            "taskType": {
              "type": "string"
            },
            "events": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CaseTaskEvent"
              }
            }
          }
        }
      ]
    }
  },
  "securityDefinitions": {
    "apiKey-auth": {
      "type": "apiKey",
      "description": "API key used in the Authorization header.",
      "name": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKey-auth": []
    }
  ],
  "basePath": "/",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.nimflow.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nimflow.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
